/**
 * @Author: Hannah Shader
 * @Date:   2024-02-06 17:22:29
 * @Last Modified by:   Hannah Shader
 * @Last Modified time: 2024-02-08 12:20:19
 */
body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

menu {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    font-size: 20px;
    font-family: 'Marker Felt', cursive;
    color: hsl(313, 48%, 33%);
    text-decoration: none;
}

.navbar {
    background-color: hsl(313, 48%, 33%);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    position: fixed;
    background-color: #ddd;
    color: black;
}


h1 {
    font-family: 'Marker Felt', cursive;
    font-size: 30px;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
    color: hsl(313, 48%, 33%);
}

h2 {
    font-family: 'Marker Felt', cursive;
    font-size: 30px;
    line-height: 1.6;
    margin: 5px auto;
    max-width: 600px;
    color: hsl(313, 48%, 33%);
}

p {
    font-size: 20px;
    font-family: 'Marker Felt', cursive;
    font-size: 16px;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 600px;
    color: hsl(313, 48%, 33%);
}

a {
    font-size: 20px;
    font-family: 'Marker Felt', cursive;
    color: hsl(313, 48%, 33%);
    text-decoration: none;
}

label {
    font-family: 'Marker Felt', cursive;
    color: hsl(313, 48%, 33%);
    text-decoration: none;
}

input {
    font-family: 'Marker Felt', cursive;
    color: hsl(313, 48%, 33%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    position: fixed;
}

@media (max-width: 600px) {
    .logo {
        max-width: 150px;
    }
}