/**
 * @Author: Hannah Shader
 * @Date:   2024-02-16 13:33:14
 * @Last Modified by:   Hannah Shader
 * @Last Modified time: 2024-02-16 14:20:19
 */

body {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 100%; 
    margin: 0; 
    font-family: 'Marker Felt', sans-serif;
    /* I thought I would change the background color, but it ended up looking worse. */
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    align-items: center; 
}

h1 {
    width: 100%;
    text-align: center; 
}


button {
    background-color: #d5272f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-family: 'Marker Felt', sans-serif;
    font-size: 16px;
    margin: 20px 0; 
    cursor: pointer;
    border-radius: 5px;
}

#orderSummary {
    display: none;
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#orderSummary p {
    margin: 10px 0;
}

.logo {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
}

@media (max-width: 600px) {
    .logo {
        max-width: 150px;
    }
}
